.article{/* bordure arrondie de 1px pleine avec un couleur en transparence
  */
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  line-height: 1.5;
  padding: 10px 15px;
  width: 80%;
  height: 35%;
}

.titre-article{
  border-bottom: 1px dashed rgba(0,0,0,0.3);
}

.detail-article{
  text-align:center;
  color: rgba(0,0,0,0.4);

}

.detail-article p{
  text-align: justify;
}

a{
  background-color: #8870ff;
  text-decoration: none;
  color: white;
  padding: 9px 8px;
  border-radius: 45px / 10px;

}
